.reveal .slides {
  text-align: left;
  border: 1px solid #ccc;
}

.reveal .slides > section,
.reveal .slides > section > section {
  padding: 0em;
  margin: 0em;
}

.reveal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  color: #000080;
}

.reveal a {
  text-decoration: underline;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #000080;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: none;
  text-align: center;
}

.reveal h1 {
  font-size: 1.8em;
}

.reveal h1.title {
  margin-top: 2em;
  font-size: 2.5em;
}

.reveal h3.title {
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.reveal h5.title {
  margin-top: 3em;
  font-size: 0.8em;
}

.reveal p {
  margin: 0em 0.3em;
}

.reveal img,
.reveal video,
.reveal iframe {
  max-width: 98%;
  max-height: 98%;
}

.reveal ol {
  list-style: none;
  counter-reset: item;
}

.reveal ol > li::before {
  content: counter(item) ". ";
  color: rgb(180, 0, 0);
  float: left;
  width: 1.2em;
  counter-increment: item;
}

.reveal ul,
.reveal ul ul,
.reveal ul ul ul
{
  list-style: none;
}

.reveal ul li::before {
  content: "\2022";
  color: rgb(180, 0, 0);
  float: left;
  width: 0.5em;
  margin-left: -0.8em;
  font-weight: bold;
}

.reveal ul ul li::before {
  content: "\2011";
  margin-left: -0.8em;
}

.reveal ul ul ul li::before {
  content: "\2023";
  margin-left: -1em;
}

.reveal ol li,
.reveal ul li {
  margin: 0.4em;
}

.reveal ul li p,
.reveal ul ul li,
.reveal ul ul li p,
.reveal ul ul ul li,
.reveal ul ul ul li p
{
  margin-left: 0em;
}

.reveal dd {
  margin-left: 1.5em;
  margin-bottom: 0.2em;
}

.reveal q,
.reveal blockquote {
  quotes: none;
}

.reveal pre {
  display: inline-block;
  margin: 0.5em;
  padding: 0.2em;
  font-family: monospace;
  font-size: 0.9em;
  box-shadow: none;
  border: 1px solid #ccc;
}

.reveal code {
  font-family: Courier New, monospace;
  text-transform: none;
}

.reveal pre code {
  display: block;
  padding: 0px;
  white-space: pre-wrap;
  margin: -0.5em;
  padding: 0.2em;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid #ccc;
}

.reveal table td.liketh {
  text-align: center;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 2px solid #6678b1;
}

.reveal section img {
  margin: 0px 0px;
  border: 1px solid #ccc;
}

.reveal section img.plain {
  margin: 0px;
}

.reveal .slides section .hcenter {
  margin: 0px auto;
  display: block;
  text-align: center;
}
